<%- include('./partials/header')  %>
  <div>
    <h1><%= title %></h1>
    <a href="/log-in">Log In</a>
    <a href="/sign-up">Sign Up</a>
    <hr>
  </div>
  <div class="content">
    <% if (locals.user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <h1>please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button>Log In</button>
      </form>
    <%}%>

    <% if (locals.messages) { %>
      
    <% } %>
  </div>


<%- include('./partials/footer')   %>