<%- include('./partials/header') %>
<%- include('./partials/navbar')  %>
    <div class="container">
        <h3><%= subtitle  %></h3>
        <% if (locals.user) { %>
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="headline"></label>
                    <input type="text" class="form-control" name="headline" placeholder="Message Title">
                    <label for="message"></label>
                    <textarea name="message" id="message" class="form-control" placeholder="Type message here..."></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        <% } else { %>
            <p><strong>Please <a href="/">log in</a> to post to the message board.</strong></p>
        <% } %>

    </div>



<%- include('./partials/footer') %>